In [ ]:
import pandas as pd

In [ ]:
url = 'https://raw.githubusercontent.com/phudinhtruongk18/test_data/main/data.csv'

In [ ]:
df = pd.read_csv(url)

In [ ]:
columns = ["Txhash", "Value_IN(BNB)","From","To","ContractAddress", "Status", "ErrCode", "Method"]
new_df = df[columns]

In [ ]:
new_df.head()

,Txhash,Value_IN(BNB),From,To,ContractAddress,Status,ErrCode,Method
0,0x6620f9cdaaf2ee4f9c057d955456b82bce2fbf389c3d...,0.0,0xb247104fb72765778b6d50d4d8e346d986532a2c,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Update Kyc Details
1,0xd9c3cd0a7a27e331dedd5957b619ecdc99c7e4b0893e...,0.0,0x21a1e893f23a44426d05776405ec7ad969a50be9,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Update Kyc Details
2,0x38dfd8ca1a669d64f5d38c576f5e3c2c760d4f21211d...,0.0,0x21a1e893f23a44426d05776405ec7ad969a50be9,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Update Kyc Details
3,0x6f9a8865ba23f449fe1e5d33cb7965bcec5d3cfdcd96...,0.0,0xfbf61a7028b941b15517954c1b8bdb47eb837dfa,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Update Pool Details
4,0xa037d399f8e37f57c19cd8f3f25de150c8528d4c520a...,0.0,0xfbf61a7028b941b15517954c1b8bdb47eb837dfa,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Update Pool Details

In [ ]:
new_df['Method'].unique()

array(['Update Kyc Details', 'Update Pool Details', 'Contribute',
       'Emergency Withdraw Contribution', 'Transfer', 'Finalize', 'Claim'],
      dtype=object)

In [ ]:
filtered_df = new_df[new_df['Method'] == 'Contribute']

In [ ]:
filtered_df.head()

,Txhash,Value_IN(BNB),From,To,ContractAddress,Status,ErrCode,Method
5,0x62069f211750db5f272939267d2fef08f23aa4ce59f8...,1.000000,0x24c6bbb049784095b398f54b963cc5c9189436e3,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
6,0x00ba45b75a23ea231e2c8d9451066f40c871da2d5d2d...,0.350000,0x9c7b51b3c7b22a802797ff3fbb326f601cc0ea80,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
7,0x206c64c2dfbc2d0c651360af9959fa3b7ff014c515b1...,0.100000,0xff6bbca48ac09d09e32f5ab00bc8ed0965d32c94,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
8,0x7f311aa5017c6611bcb96d3fd75dfaea899eb1568a16...,0.500000,0x21bbd3eb1f245e0c47c234b1cc7a5666ab603a06,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
9,0x04f5c1ff157749448029c2aa4f8946bec7a416151b23...,1.451697,0x5e7032b180bffe6753b71e9d26514561e7e5867d,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute

In [ ]:
# trash = filtered_df.dropna(subset=['Status', 'ErrCode'])
# trash['ErrCode'].unique()
# trash.head(1)

In [ ]:
# filtered_df.dropna(subset=['Status', 'ErrCode'], inplace=True)

In [ ]:
filtered_df["Status"].unique()

array([nan, 'Error(0)'], dtype=object)

In [ ]:
filtered_df = filtered_df[filtered_df["ErrCode"].isna() | filtered_df["Status"].isna()]

In [ ]:
filtered_df = filtered_df.reset_index(drop=True)

In [ ]:
filtered_df.head(10)

,Txhash,Value_IN(BNB),From,To,ContractAddress,Status,ErrCode,Method
0,0x62069f211750db5f272939267d2fef08f23aa4ce59f8...,1.000000,0x24c6bbb049784095b398f54b963cc5c9189436e3,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
1,0x00ba45b75a23ea231e2c8d9451066f40c871da2d5d2d...,0.350000,0x9c7b51b3c7b22a802797ff3fbb326f601cc0ea80,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
2,0x206c64c2dfbc2d0c651360af9959fa3b7ff014c515b1...,0.100000,0xff6bbca48ac09d09e32f5ab00bc8ed0965d32c94,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
3,0x7f311aa5017c6611bcb96d3fd75dfaea899eb1568a16...,0.500000,0x21bbd3eb1f245e0c47c234b1cc7a5666ab603a06,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
4,0x04f5c1ff157749448029c2aa4f8946bec7a416151b23...,1.451697,0x5e7032b180bffe6753b71e9d26514561e7e5867d,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
5,0xa23b9fcffa07ad9e31979bb7f54132c0561f71a255ef...,0.182747,0x2c365c29e69bdb423c1dc76f1c29fc1cc1e6243c,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
6,0xf981f8c70646045df969385f21ff21653f2556b8b9c4...,0.350000,0xeacd7f366744cd73f898f422538cab0e0c6a57d5,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
7,0x4f37389354d0ca1998b4cb903309a9881d4ee6b1b2ae...,0.018000,0x131cd12112fe99323f20cb08067e8021879bfd36,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
8,0x1aefc7b4f31db39b60cad9849501307a43cecd405f9e...,0.100000,0xc1b40e1cb9beed8e116c39ca86da43ed2ac5eb7d,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
9,0xbc141a690ec13962ca594ddac455f16bcea2d3998778...,3.110000,0xfaeabb9c8b2cc5db0ddbab75ebcbbc26bc022838,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute

In [ ]:
filtered_df.count()

Txhash             3166
Value_IN(BNB)      3166
From               3166
To                 3166
ContractAddress       0
Status                0
ErrCode               0
Method             3166
dtype: int64

In [ ]:
filtered_df["From"].nunique()

2516

In [ ]:
filtered_df.head()

,Txhash,Value_IN(BNB),From,To,ContractAddress,Status,ErrCode,Method
164,0x0799fd71b86e886230115d7aa6a2d2537507e6faacfc...,0.000010,0x0611df26766da5dfbfcfa33351de074d1eb3cfc0,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
2844,0xf6a7e511253d50c6b049f77c337de224f358d36fda95...,0.000010,0x8002109d0cdd2fcc0c450904db8ee25e680eca9a,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
83,0xa4437c32b426b356b8a6aadfba77008dbf3f54f8c44d...,0.000010,0x9c6cec6beb330955423622ea2489049b7ee11fe7,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
438,0xb9ffe89d31b0a19e07353d351258de41979fe23688a4...,0.000019,0x68abd275ee91a51bbac4374a17ec297c558b5538,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
274,0x16f29996e69357cf9b1dee8fc51dc6f2e71ed371a236...,0.000100,0x788d9e26300c7c025b2bf9eaa0ce49a915922ab2,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute

In [ ]:
# Create the "extracted" DataFrame
extracted = filtered_df.groupby("From").agg(
    count=("Value_IN(BNB)", "count"),
    sum=("Value_IN(BNB)", "sum")
    ).reset_index()

In [ ]:
extracted["url"] = extracted["From"].apply(lambda x: f"https://bscscan.com/address/{x}")

In [ ]:
extracted = extracted.sort_values(by="sum")

In [ ]:
extracted.head(100)

,From,count,sum,url
59,0x0611df26766da5dfbfcfa33351de074d1eb3cfc0,1,0.000010,https://bscscan.com/address/0x0611df26766da5df...
1550,0x9c6cec6beb330955423622ea2489049b7ee11fe7,1,0.000010,https://bscscan.com/address/0x9c6cec6beb330955...
1033,0x68abd275ee91a51bbac4374a17ec297c558b5538,1,0.000019,https://bscscan.com/address/0x68abd275ee91a51b...
0,0x000d364a3f19219b3b2cfe8e732a8726c2322cb8,1,0.000100,https://bscscan.com/address/0x000d364a3f19219b...
1957,0xc60f02fbeb9354c6990c53dbbd3dfe5f8432c9c6,1,0.000100,https://bscscan.com/address/0xc60f02fbeb9354c6...
...,...,...,...,...
1934,0xc3b805e338d7d19458cbc0ec3abc267f0dfa3df4,1,0.000100,https://bscscan.com/address/0xc3b805e338d7d194...
1715,0xad54898c1ba9fa20c51051b414140696c9469adc,1,0.000100,https://bscscan.com/address/0xad54898c1ba9fa20...
470,0x2c03f36e79d721c0038ac77e1ef445eb6d1583ed,1,0.000100,https://bscscan.com/address/0x2c03f36e79d721c0...
2324,0xec20738bd285c0936e6d04cff9b1b29ded1f72e5,1,0.000100,https://bscscan.com/address/0xec20738bd285c093...
560,0x362169888cc701069db3a355770db0e000c816c7,1,0.000100,https://bscscan.com/address/0x362169888cc70106...

In [ ]:
desired_value = "0x005055e06c5e0c92c94fbf89bd5a5eeae387dda5"
filtered_rows = filtered_df[filtered_df["From"] == desired_value]
filtered_rows

,Txhash,Value_IN(BNB),From,To,ContractAddress,Status,ErrCode,Method
900,0x85f4d45e8da9100fcff373ed09a1a429cc08e7070ba4...,0.02,0x005055e06c5e0c92c94fbf89bd5a5eeae387dda5,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute
2373,0x1bc36512b4ebcd61d93cdc9d46fba1f4d55bfcaa820e...,0.02,0x005055e06c5e0c92c94fbf89bd5a5eeae387dda5,0x645853e0df3e59ca3611473f279014147aff59dd,NaN,NaN,NaN,Contribute

In [ ]:
# Split into two DataFrames based on condition
df_sum_lt_1 = extracted[extracted['sum'] < 1]
df_sum_gte_1 = extracted[extracted['sum'] >= 1]

# Calculate sum for each DataFrame
big_sum_lt_1 = df_sum_lt_1['sum'].sum()
big_sum_gte_1 = df_sum_gte_1['sum'].sum()

# Print the two big sums
print("Big Sum for sum < 1:", big_sum_lt_1)
print("Big Sum for sum >= 1:", big_sum_gte_1)

Big Sum for sum < 1: 340.07421998927873
Big Sum for sum >= 1: 1464.7395015552092

In [ ]:
df_sum_lt_1.count()

From     2065
count    2065
sum      2065
url      2065
dtype: int64

In [ ]:
df_sum_gte_1.head(500)

,From,count,sum,url
15,0x014118a156f4829ead565037215e212ba62b97eb,2,3.42,https://bscscan.com/address/0x014118a156f4829e...
18,0x01c7fa6df1c77c328d96c6a326f44eba1140e2f8,1,6.80,https://bscscan.com/address/0x01c7fa6df1c77c32...
34,0x03be714dcade5947cadba1979c3f25001c151317,1,1.10,https://bscscan.com/address/0x03be714dcade5947...
45,0x04afdc8332b435dbeb69bff24737a3666fe5adb5,1,1.00,https://bscscan.com/address/0x04afdc8332b435db...
68,0x06d2bf7e910637637a61ebaf8a38759231c95df1,1,1.50,https://bscscan.com/address/0x06d2bf7e91063763...
...,...,...,...,...
2490,0xfdcfb532abcabef4fa7d78bc44787d5ad4934480,2,2.50,https://bscscan.com/address/0xfdcfb532abcabef4...
2493,0xfdefc97f928edf80f64f30f49e745df94e1ae7d9,1,3.00,https://bscscan.com/address/0xfdefc97f928edf80...
2496,0xfe7e5418bfcb301c69c089aaaa38686d7f0c6e50,1,5.95,https://bscscan.com/address/0xfe7e5418bfcb301c...
2497,0xfe80725f83a3bf82b09a849dee00d6564ab7a779,2,2.00,https://bscscan.com/address/0xfe80725f83a3bf82...
2514,0xffeea36150ab503808ca91be4fe3e22a6a898269,1,1.00,https://bscscan.com/address/0xffeea36150ab5038...

In [ ]:
!pip install xlsxwriter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting xlsxwriter
  Downloading XlsxWriter-3.1.1-py3-none-any.whl (152 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 152.9/152.9 kB 6.8 MB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.1

In [ ]:
# Create an ExcelWriter object
writer = pd.ExcelWriter('combined_data.xlsx', engine='xlsxwriter')


# Create an ExcelWriter object
writer = pd.ExcelWriter('combined_data.xlsx', engine='xlsxwriter')

# Write each DataFrame to the Excel file
df_sum_lt_1.to_excel(writer, sheet_name='Combined', startrow=0, startcol=0)
df_sum_gte_1.to_excel(writer, sheet_name='Combined', startrow=len(df_sum_lt_1)+2, startcol=0)
# big_sum_lt_1.to_excel(writer, sheet_name='Combined', startrow=len(df_sum_lt_1)+len(df_sum_gte_1)+4, startcol=0)
# big_sum_gte_1.to_excel(writer, sheet_name='Combined', startrow=len(df_sum_lt_1)+len(df_sum_gte_1)+len(big_sum_lt_1)+6, startcol=0)

# Save the Excel file
writer.save()

<ipython-input-68-f5289f5e0215>:15: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()

In [ ]:
# Calculate the big sum for df1
big_sum_df1 = df_sum_lt_1['sum'].sum()

# Calculate the big sum for df2
big_sum_df2 = df_sum_gte_1['sum'].sum()

# Create a new dataframe to store the big sums
big_sums_df = pd.DataFrame({'DataFrame': ['df1', 'df2'], 'BigSum': [big_sum_df1, big_sum_df2]})

# Create a new Excel writer object
writer = pd.ExcelWriter('combined_data_ok.xlsx', engine='xlsxwriter')

# Write the dataframes to the Excel file
df_sum_lt_1.to_excel(writer, sheet_name='Combined', index=False, startrow=0, startcol=0)
df_sum_gte_1.to_excel(writer, sheet_name='Combined', index=False, startrow=len(df_sum_lt_1) + 2, startcol=0)
big_sums_df.to_excel(writer, sheet_name='Combined', index=False, startrow=len(df_sum_lt_1) + len(df_sum_gte_1) + 4, startcol=0)

# Save the Excel file
writer.save()

<ipython-input-71-0aa4cabf556b>:19: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  writer.save()